body {
    background-image: url("../assets/dachshund-bg.png");
    background-color: #f8f9fa;
   }
.main-logo {
    max-width: 10em;
}
.odd-item {
    flex-direction: row-reverse;
}
.product > img {
    display: block;
    block-size: 20em;
    margin-left: auto;
    margin-right: auto;
}
.product {
    border: solid 1px black;
    border-radius: 5px;
    justify-content: center;
}